* {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* common styel atribiute end */
body {
    background: hsla(242, 100%, 64%, 0.05);
}

.fix-container {
    width: 1140px;
    margin: 0 auto;
    /* background: rgba(0, 0, 0, 0.404); */
}

.a {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

.btn {
    border: none;
    height: 48px;
    background: #4E47FF;
    border-radius: 5px;
}

/* web site common styles end*/
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.banner-img {
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 180px;


}

header nav section h1 {
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;
    text-transform: uppercase;
}

header nav section h1 a {
    color: #4E47FF;
}

/* 
header nav section .sign-up {
    width: 132px;
    
   
    border-radius: 5px;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: linear all 0.3s;
    cursor: pointer;

}

header nav section .sign-up a {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    transition: linear all 0.3s;

}

header nav section .sign-up:hover {
    -webkit-box-shadow: 1px 1px 31px 0px #000000;
    box-shadow: 1px 1px 31px 0px #000000;
    color: #fff;
   
}

header nav section .sign-up:hover a{
     font-size: 20px;
} */

header nav section button {
    width: 132px;
    transition: all linear 0.3s;
}

header nav section button a {
    height: 48px;
    width: 132px;
    line-height: 48px;
    display: inline-block;
    background: #923c3c00;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    text-transform: capitalize;
    transition: all linear 0.3s;

}

header nav section button:hover {
    -webkit-box-shadow: 1px 1px 31px 0px #000000;
    box-shadow: 1px 1px 31px 0px #000000;
    background: #FFB805;
    /* ai khankar border shasow ami ai khan theke nisi (https://htmlcheatsheet.com/css/) kono chatGpt or ai help nei ni  */


}

header nav section button:hover a {
    font-size: 18px;

}

.heading-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 250px;
    padding-top: 215px;
}

.heading-contain section h1 {
    font-size: 65px;
}

.heading-contain section button {
    margin-top: 85px;
    transition: all linear 0.3s;


}

.heading-contain section button a {
    width: 174px;
    transition: all linear 0.3s;
    font-weight: bold;
    font-size: 16px;


}


.heading-contain section button:hover {
    -webkit-box-shadow: 1px 1px 31px 0px #000000;
    box-shadow: 1px 1px 31px 0px #000000;
    background: #FFB805;
    /* ai khankar border shasow ami ai khan theke nisi (https://htmlcheatsheet.com/css/) kono chatGpt or ai help nei ni  */
    /* transition: all linear 0.3s; */


}

.heading-contain section button:hover a {
    font-size: 18px;
}


main .action {
    margin: 120px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

main .action section h2 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    padding-bottom: 23px;
}

main .action section p {
    font-size: 24px;
    font-weight: 300;
    color: #25243250;
    padding-bottom: 23px;

}

main .action section button {
    width: 229px;
    transition: all linear 0.3s;
}

main .action section button {
    width: 229px;
    transition: all linear 0.3s;
}



main .action section button a {
    width: 229px;
    transition: all linear 0.3s;
    font-weight: bold;
    font-size: 16px;
    line-height: 48px;
}



main .action section button:hover {
    -webkit-box-shadow: 1px 1px 31px 0px #000000;
    box-shadow: 1px 1px 31px 0px #000000;
    background: #FFB805;

    /* ai khankar border shasow ami ai khan theke niesi (https://htmlcheatsheet.com/css/) kono chatGpt or ai help nei ni  */
    /* transition: all linear 0.3s; */
}



main .action section button:hover a {
    font-size: 18px;
}


main .action section img {
    width: 403px;
    height: 328;
    border-radius: 48px;
}

main .productive-users-sectin {
    margin-bottom: 120px;
}

main .productive-users-sectin .background-color {
    background: hwb(242 28% 0% / 0.10);
    border-radius: 24px;
    height: 306px;

}

main .productive-users-sectin .background-color h3 {
    padding-top: 50px;
    font-size: 38px;
    color: #252432;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}

main .productive-users-sectin .background-color .subtitle {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

main .productive-users-sectin .background-color .subtitle section h4 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

main .productive-users-sectin .background-color .subtitle section p {
    color: #00000080;
    font-size: 20px;
}

.users-feedback-section {
    margin-bottom: 137px;
}

.users-feedback-section h5 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

.users-feedback-section .side {
    display: flex;
    justify-content: space-between;
}


.users-feedback-section .users-feedback {
    width: 366.67px;
    height: 243px;
    background: lch(100% 0.01 296.81 / 0.50);
    border-radius: 10px;
    margin-top: 50px;
}

.users-feedback-section .users-feedback .m2 {
    margin-left: 24px;
}

.users-feedback-section .users-feedback section i {
    width: 20px;
    height: 20px;
    color: #FFB805;
    margin-bottom: 24px;
    margin-top: 24px;

}

.users-feedback-section .users-feedback section h2 {
    font-size: 30px;
    margin-bottom: 8px;
}

.users-feedback-section .users-feedback section p {
    font-size: 17px;
    color: #000000be;
    margin-bottom: 24px;


}

.users-feedback-section .users-feedback section .reviewer-image-section {
    display: flex;

}

.users-feedback-section .users-feedback section .reviewer-image-section section img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.users-feedback-section .users-feedback section .reviewer-image-section section p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #696060;
    margin-left: 14px;

}

.users-feedback-section .users-feedback section .reviewer-image-section section span {
    margin: 0;
    font-size: 16px;
    /* font-weight: bold; */
    color: #696060;
    margin-left: 14px;


}

main .focusbater {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lch(100% 0.01 296.81 / 0.50);
    border-radius: 14px;
    padding-bottom: 71px;
    margin-bottom: 71px;


}

main .focusbater h6 {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin-top: 71px;
}


main .focusbater p {
    /* font-weight: bold; */
    color: hsla(0, 0%, 0%, 0.500);
    font-size: 18px;
    margin: 20px 0;
}

main .focusbater section button {
    width: 195px;
    transition: all linear 0.3s;
    margin-bottom: 20px;


}


main .focusbater section button a {
    font-weight: 400;
    display: inline-block;
    width: 195px;
    height: 48px;
    transition: all linear 0.3s;



}


main .focusbater section button:hover {

    -webkit-box-shadow: 1px 1px 31px 0px #000000;
    box-shadow: 1px 1px 31px 0px #000000;
    background: #FFB805;

}


main .focusbater section button:hover a {
    font-size: 18px;
}


main .focusbater img{
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
}






main .touch-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
main .touch-section section h4{
    font-size: 97px;
    font-weight: bold;
    color: #000000;
}

main .touch-section section label{
    font-size: 18px;
    font-weight: 500; 
    color: #000000;
}


main .touch-section section input[type="email"] {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
    color: #4E47FF;

      
 
}

main .touch-section section input[type="text"] {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
    color: #4E47FF;
      
 
}

main .touch-section section input{
   
    width: 497px;
    height: 70px;
    border-radius: 10px;
    border: 0.5px solid #b3b3b3;
    margin: 5px 0 20px 0;
}
main .touch-section section input::placeholder{
    
    font-size: 20px;

    
}

main .touch-section section textarea {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 20px;
    color: #4E47FF;
    border-radius: 10px;
    border: 0.5px solid #b3b3b3;
   width: 497px;
    height: 135px;
    margin: 5px 0 20px 0;
    resize: none;


      
 
}


main .touch-section section button{
    width: 507px;
    margin-bottom: 85px;
    transition: all linear 0.3s;
    cursor: pointer;

}

main .touch-section section button:hover{
    -webkit-box-shadow: 1px 1px 31px 0px #000000;
    box-shadow: 1px 1px 31px 0px #000000;
    background: #FFB805;
    font-size: 18px;
}


footer .website-name{
    width: 100%;
    background: #fff;
    border-top: 0.5px solid #e7e7e7;
    padding-bottom: 147px;
}

footer .website-name .continer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .website-name .continer h2{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-top: 104px;
}


footer .website-name .continer p{
    font-size: 20px;
    color: rgb(146, 142, 142)
}
footer .website-name .continer ul{
    display: flex;
    margin-top: 20px;
    gap: 40px;
}
footer .website-name .continer ul li a{
    
     font-size: 20px;
    color: rgb(146, 142, 142);
    transition: all linear 0.3s;
    
    
}


footer .website-name .continer ul li:hover a{
    
    color: #FFB805;
    font-weight: 700;
    
}